body{
    background-color:hsl(212, 45%, 89%) ;
}

.container {
    background-color: hsl(0, 0%, 100%);
    margin: 20% auto;
    width: 90%;
    padding: 15px;
    border-radius: 15px;
    
}

img {
    width: 100%;
    border-radius: 15px;
}

h1 {
    font-family: 'Outfit', sans-serif;
    text-align: center;
    color: hsl(218, 44%, 22%);
    font-size: 15px;
    font-weight: 700;
}
p {
    font-family: 'Outfit', sans-serif;
    font-size: 15px;
    color:hsl(220, 15%, 55%);
    text-align: center;
}

@media screen and (min-width: 1440px) {
.container {
    width: 20%;
}

}    
